

.Form-outer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
