.LoginForm-Wrapper {
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.LoginForm-Wrapper > div {
  margin-bottom: 15px;
  width: 300px;
}
